---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<header class="flex flex-col W-4/5 mt-10">
		<h1 class="mx-auto text-2xl font-bold">WELLCOME TO JAWEB/API</h1>
		<h2 class="text-xl font-bold mx-auto mt-6 text-[#096f]">COMING SOON API AI</h2>
	</header>
	
</Layout>

